{% extends 'modal.html.twig' %}
{% block modalcss %}
    <link rel='stylesheet' href="{{ asset('css/admin.css') }}" >
{% endblock %}
{% block modalheader %}
    <i class="fa-solid fa-plus"></i>
    <p id="title">Ajout d'anime(s)</p>
{% endblock %}
{% block modalcontent %}
{% endblock %}
        