@import url('./colors.css');
@import url('./import/font-awesome-icons.min.css');
@import url('./import/multi-select.min.css');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    font-family: "Fredoka", sans-serif;
}

html {
    height: 100%;
}

input:focus, select:focus, textarea:focus {
    border-color: var(--white) !important;
    outline: none !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--color6);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body #content {
    display: grid;
    grid-template-rows: 80px auto;
    flex-grow: 1;
    overflow-y: auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 1; /* Assurez-vous que le header reste au-dessus des autres éléments */
    display: flex;
    justify-content: space-between;
    background-color: var(--color5);
}


header #top-left {
    display: flex;
    align-items: center;
}

header #top-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header #top-right a {
    text-decoration: none;
    color: var(--color3);
    padding: 8px 10px;
    border: 1px solid var(--color1);
    background-color: var(--color1);
    border-radius: 5px;
    align-self: center;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

header #top-right a:hover {
    border-color: var(--color2);
    background-color: var(--color2);
    color: var(--white);
}

header #title {
    margin: 0;
    font-size: 23px;
    color: var(--color3);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

#page {
    display: grid;
}

#page #menu {
    position: fixed;
    left: 0;
    top: 80px; /* Ajustez cette valeur en fonction de la hauteur de votre header */
    width: 225px; /* ou la largeur de votre choix */
    z-index: 100;
    height: 100%;
    background-color: var(--color7);
    display: flex;
    flex-direction: column;
}

#page #menu-content {
    margin-left: 225px; /* Ajustez cette valeur à la largeur de votre menu */
}

#page #menu a {
    margin: 0;
    padding: 10px;
    color: var(--color3);
    cursor: pointer;
    border-bottom: 1px solid var(--color5);
    text-decoration: none;
}

#page #menu a:hover,
#page #menu a.active {
    background-color: var(--color8);
    color: var(--white);
}


/* DASHBOARD ADMIN ACCUEIL */
#stats {
    display: grid;
    row-gap: 75px;
}

#stats p {
    margin: 0;
    color: var(--white);
}

#stats #currentSeason {
    display: grid;
    grid-template-columns: 260px 260px;
    grid-template-rows: 120px;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

#stats #counting {
    display: grid;
    grid-template-columns: 260px 260px 260px;
    grid-template-rows: 120px;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

#stats #currentSeason > div,
#stats #counting > div {
    padding: 10px;
    background-color: var(--color1);
    border: 4px solid var(--color1);
    border-radius: 5px;
    height: 100%;
}

#stats #currentSeason > div > *:last-child,
#stats #counting > div > *:last-child {
    font-size: 70px;
    text-align: center;
    margin-top: 10px;
}

/* USER PART */
#users-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#table {
    width: fit-content;
    margin: 15px;
    border: 1px solid var(--color4);
    border-radius: 5px;
    grid-template-rows: minmax(35px,50px);
}

#seasons-page #table,
#animes-page #table {
    width: auto;
}

#table #table-content #empty-table {
    border-right: none;
    padding: 10px 0;
}

#table #table-header,
#table #table-row {
    display: grid;
    align-items: center;
    border-bottom: 1px solid var(--color4);
}

#users-page #table #table-header,
#users-page #table #table-row {
    grid-template-columns: 
        minmax(70px, 100px)
        minmax(150px, 200px);
}

#seasons-page #table #table-header,
#seasons-page #table #table-row {
    grid-template-columns: 
        minmax(70px, 100px)
        minmax(70px, 1fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr)
        minmax(100px,150px);
}

#animes-page #table #table-header,
#animes-page #table #table-row {
    grid-template-columns: 
        minmax(100px, 1fr)
        minmax(100px, 1fr)
        minmax(150px, 1fr)
        minmax(150px, 1fr)
        minmax(100px, 1fr)
        minmax(100px, 1fr)
        minmax(100px, 150px);
}

#table #table-header {
    background-color: var(--color1);
}

#table #table-header p {
    color: var(--white);
}

#table > div p {
    margin: 0;
    padding: 0 10px;
    text-align: center;
    color: var(--color3);
    border-right: 1px solid var(--color4);
    height: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#table > div:last-child,
#table #table-header p:last-child,
#table #table-row:last-child,
#table #table-row p:last-child{
    border: none;
}

#table #table-row #row-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35px;
}

#table #table-row #row-actions button,
#table #table-row #row-actions a{
    margin-right: 5px;
    background-color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 5px;
    padding: 5px 8px;
    color: var(--white);
    cursor: pointer;
    font-size: 15px;
}

#table #table-row #row-actions button:hover,
#table #table-row #row-actions a:hover,
#seasons-page #add-season:hover,
#animes-page #add-anime:hover,
#seasons-page-edit #edit-season ul li#submit button:hover,
#add-animes-season button[type="submit"]:hover,
#pages-actions #go-back:hover,
#seasons-page-edit #header-bloc #add-anime-to-season:hover {
    background-color: var(--color8);
    border-color: var(--color8);
}

#table #table-row #row-actions > *:last-child {
    margin-right: 0;
}

#addUser {
    margin: 15px;
}

#addUser ul{
    list-style: none;
    padding: 15px;
    margin: 0;
    background-color: var(--color5);
    border: 1px solid var(--color4);
    border-radius: 5px;
}

#seasons-add ul,
#seasons-page-edit #edit-season ul,
#animes-add-page #infos-anime ul,
#animes-edit-page #infos-anime ul{
    list-style: none;
    padding: 15px;
    margin: 0;
    border-radius: 5px;
}

#addUser ul li:not(#submit),
#seasons-add ul li:not(#submit),
#seasons-page-edit #edit-season ul li:not(#submit),
#animes-add-page #infos-anime ul li:not(#submit),
#animes-edit-page #infos-anime ul li:not(#submit){
    display: grid;
    row-gap: 3px;
    margin-bottom: 5px;
}

#addUser ul li:not(#submit) label,
#seasons-add ul li:not(#submit) label,
#seasons-page-edit #edit-season ul li:not(#submit) label,
#animes-add-page #infos-anime ul li:not(#submit) label,
#animes-edit-page #infos-anime ul li:not(#submit) label{
    font-size: 15px;
    color: var(--color3);
}

#addUser ul li:not(#submit) input,
#seasons-add ul li:not(#submit) input,
#seasons-page-edit #edit-season ul li:not(#submit) input,
#animes-add-page #infos-anime ul li:not(#submit) input,
#animes-add-page #infos-anime ul li:not(#submit) textarea,
#animes-add-page #infos-anime ul li:not(#submit) select,
#animes-edit-page #infos-anime ul li:not(#submit) select,
#animes-edit-page #infos-anime ul li:not(#submit) textarea,
#animes-edit-page #infos-anime ul li:not(#submit) input{
    padding: 7px;
    font-size: 14px;
    color: var(--color3);
    border: 1px solid var(--color4);
    border-radius: 5px;
    background-color: transparent;
    resize: vertical;
}

#addUser ul li#submit,
#seasons-add ul li#submit,
#seasons-page-edit #edit-season ul li#submit,
#animes-add-page #infos-anime ul li#submit,
#animes-edit-page #infos-anime ul li#submit{
    text-align: end;
}

#addUser ul li#submit button,
#seasons-page #add-season,
#seasons-add ul li#submit button,
#seasons-page-edit #edit-season ul li#submit button,
#animes-add-page #infos-anime ul li#submit button,
#animes-edit-page #infos-anime ul li#submit button,
#add-animes-season button[type="submit"]{
    background-color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 5px;
    color: var(--white);
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#animes-add-page #infos-anime ul li#thumbnail,
#animes-edit-page #infos-anime ul li#thumbnail {
    margin-bottom: 20px;
}

#animes-add-page #infos-anime ul li#thumbnail label span,
#animes-edit-page #infos-anime ul li#thumbnail label span{
    font-size: 13px;
}

#animes-page #add-anime {
    background-color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 5px;
    color: var(--white);
    padding: 5px;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
}

#animes-page {
    padding: 15px 0;
}

#animes-page #add-anime,
#seasons-page #add-season {
    margin-left: 15px;
    margin-top: 15px;
}

#pages-actions {
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pages-actions #go-back {
    padding: 6px 8px;
    background-color: var(--color1);
    color: var(--white);
    border: 1px solid var(--color1);
    border-radius: 5px;
    cursor: pointer;
}

#seasons-page-edit #edit-season,
#animes-add-page #infos-anime,
#animes-edit-page #infos-anime,
#animes-edit-page #current-image,
#seasons-page-edit #affect-anime {
    background-color: var(--color5);
    border-radius: 5px;
}

#animes-add-page #infos-anime {
    margin: 0 15px;
}

#seasons-page-edit #content-page,
#animes-edit-page #content-page {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    padding: 0 15px;
}

#seasons-page-edit #modified-at{
    color: var(--color3);
    font-size: 13px;
    margin: 0;
    padding: 0 0 10px 10px;
}

#seasons-page-edit #title-bloc {
    color: var(--color3);
    font-size: 15px;
    margin: 0;
}

#seasons-page-edit #header-bloc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#header-bloc p {
    margin: 0;
    color: var(--color3);
    font-size: 15px;
}

#seasons-page-edit #header-bloc #add-anime-to-season {
    padding: 5px 7px;
    background-color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
}

.required::after {
    content: "*";
    color: var(--red);
}

#current-image #anime-picture {
    max-width: 350px;
}


#seasons-page-edit #affect-anime #content-bloc #season-anime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--color2);
}

#seasons-page-edit #affect-anime #content-bloc #season-anime:first-child {
    border-top: 1px solid var(--color2);
}


#seasons-page-edit #affect-anime #content-bloc #season-anime a#title-anime {
    font-size: 14px;
    color: var(--color3);
}

#seasons-page-edit #affect-anime #content-bloc #season-anime a#delete-anime-season {
    font-size: 15px;
    padding: 4px 6px;
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 5px;
    color: var(--white);
}

#add-animes-season {
    display: grid;
    padding: 15px;
}

#add-animes-season select {
    width: 150px;
}