:root {
    --color1: #137C8B;
    --color2: #709CA7;
    --color3: #B8CBD0;
    --color4: #7A90A4;
    --color5: #344D59;
    --color6: #2b414b;
    --color7: #253840;
    --color8: #21323a;
    --white: #FFFFFF;
    --red: #cc0000;
}