{% extends 'baseAdmin.html.twig' %}
{# {% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('css/admin.css') }}" >
{% endblock %} #}

{% block body %}
    <div id="stats">
        <div id="currentSeason">
            <div id="seasonOnGoing">
                <p id="title"><i class="fa-brands fa-canadian-maple-leaf"></i> Saison actuelle</p>
                <p>Hiver</p>
            </div>
            <div id="nbAnimesSeason">
                <p id="title"><i class="fa-solid fa-film"></i> Nombre d'anime cette saison</p>
                <p>12</p>
            </div>
        </div>
        <div id="counting">
            <div id="nbAnimesTotal">
                <p id="title"><i class="fa-solid fa-film"></i> Nombre total Animes</p>
                <p>{{ nbAnimesTotal }}</p>
            </div>
            <div id="nbSeasonPassed">
                <p id="title"><i class="fa-brands fa-canadian-maple-leaf"></i> Nombre de saison passé</p>
                <p>6</p>
            </div>
            <div id="nbSeasonComming">
                <p id="title"><i class="fa-brands fa-canadian-maple-leaf"></i> Nombre de saison à venir</p>
                <p>2</p>
            </div>
        </div>
    </div>
{% endblock %}
