{% extends 'base.html.twig' %}
{% block body %}
    <form id="login" method="POST" action="{{ path('register') }}">
        <ul>
            <li>
                <label class="required" for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Votre pseudonyme ..." required/>
            </li>
            <li>
                <label class="required" for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" placeholder="Votre mot de passe ..." required/>
            </li>
            <li id="submit">
                <button type="submit">Enregistrer</button>
            </li>
        </ul>
    </form>
{% endblock %}