<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Seasonal Anime</title>
        <link rel='stylesheet' type='text/css' href="{{ asset('css/index.css') }}" >
        {% block stylesheets %}{% endblock %}
        <script type='text/javascript' src="{{ asset('js/import/font-awesome-icons.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>
            <i class="fa-solid fa-truck-front fa-lg"></i>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
